:root{
--text-color:#252B42;
--second-text-color:#737373;
--primary-color:#FF7B47;
--light-text-color:#FFFFFF;
--secondary-color-1:#0D5C63;
--light-bg-color:#ffff;
} 

body{
    
    font-family:"Monserrat", sans-serif;
    margin: 0;
    padding: 0;
}
header{
    width: 1381px;
    height: 927px;
    background: url(image/hero..svg);
    background-repeat:no-repeat
}
nav{
    display: grid;
    grid-template-columns:  20% 40% 45%;
    height: 100px;
    padding: 10px 80px 70px ;

}
nav > h2 {
color: var(--text-color);

    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 100;
    
}
nav > div:nth-child(2){
   
    display: flex ;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px; 
}
nav > div:nth-child(3){
   
    display: flex;
    justify-content:end;
    align-items: center 
}

.banner > div:first-child{
    padding: 0px 160px;
}

.banner > div:first-child > h1{
    font-size: 4rem;
    color: var(--text-color);
    }
.banner > div:first-child > p{
    color: var(--second-text-color);
    font-size: 1.5rem; 
}
.banner > div:first-child>div{
    display: flex;
    justify-content: start;
}
.banner > div:first-child>div > button{
    margin-right: 10px;

}
.btn{
    border: none;
    border-radius: 35px;
    font-weight: 600;
    padding: 15px 15px;
}
button.btn-primary{
    background-color:var(--primary-color);
    color:var()
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
button.btn-transparent{
    background-color: transparent;
    color:var(--secondary-color-1);
}
.btn-boder{
    border: 1px solid var(--secondary-color-1);
}
.btn-size-2x{
    width: 170px !important;
}
header{
    position: relative;
}
#list-services{
    display: flex;
    grid-template-columns: 40% 40% 40%;
    column-gap: 60px;
    justify-content: center;
    width: 90%;
    height: 360px;
    position: absolute;
    margin: 0px 50px;
    bottom: -120px;
}
.item-service{
    background-color: var(--light-bg-color);
    width: 25%
}
.item-service > h3{
    display: flex;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 15%;

}
.item-service > p{
    color: var(--second-text-color);
    display: flex;
    font-size: 1rem;
    justify-content: center;
}
.item-service > img {
    font-family: "Monserrat";
    display: flex;
    justify-content: center;
    padding: 40px  40px 35px 40px;
    width: 70px;  
}

.item-services {
    background-color: var(--secondary-color-1);
    width: 25%
}
.item-services > h3{
    display: flex;
    font-size: 1.5rem;
    color: var(--light-text-color);
    padding: 0 15%;
}
.item-services > p{
    color: var(--light-text-color);
    display: flex;
    font-size: 1rem;
    justify-content: center;
}
.item-services > img {
    font-family: "Monserrat";
    display: flex;
    justify-content: center;
    padding: 40px  40px 35px 40px;
    width: 70px; 
}

