:root{
    --text-color: #313131;
    --bottom: #3869EB;


}
body{
    margin: 0;
    padding: 0;
}

.icon-logo{
    background : url(/images/Logo.svg);
    height: 55px;
    width: 40px;
    display: block;
    background-size: 100%;
    background-position: center;
    top: 10px;
}
.logo-principal{
    font-weight: bold;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    position: relative;
    left: 50px;
    top: -500px;
}
.hero{
    top: 100px;
    display: grid;
    grid-template-columns: 30% 70%;
    position: relative;
}
.hero>div{
    height: 110px;
}
.hero:last-child{
top: 20px;
display: flex;
}
.f1{
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    
    color: black;
    cursor: pointer;
    width: 100%;
}
.f2{
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    color: black;
    cursor: pointer;
    width: 100%;
}
.login {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color:var(--bottom);
    color: white;
    cursor: pointer;
    width: 100%;
  }
  .image{
    padding: 100px;
    padding-left: 10%;
    padding-top: 30%;
    position: relative;
    background : url(/images/Image2.svg);
   
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
 

}



